body {
  margin: 0;
}

.services {
  padding: 60px 170px;
  display: flex;
  flex-direction: column;
}
.services h2 {
  font-size: 40px;
}
.services p {
  font-size: 20px;
}
.services .seeAllServices {
  color: #C85100;
  font-size: 20px;
  align-self: flex-end;
}
.services .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 10px;
}
.services .cards .card {
  margin-right: 20px;
}
.services .cards .card .serviceImg {
  border-radius: 20px;
  width: 100%;
}
.services .cards .card h3 {
  font-size: 32px;
}
.services .cards .card p {
  font-size: 18px;
}
@media screen and (max-width: 900px) {
  .services .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

.memorableTrips {
  padding: 92px 170px 0 170px !important;
}
.memorableTrips h2 {
  color: #424244;
  font-size: 40px;
  font-weight: 500;
}
.memorableTrips .tripsVideo {
  width: 100%;
  border-radius: 40px;
}

@media screen and (max-width: 900px) {
  .services {
    padding: 60px 70px;
  }
}
body {
  margin: 0;
}

.popularTours {
  padding: 60px 170px;
}
.popularTours .places {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.popularTours .places .tourcard {
  margin-right: 20px;
}
.popularTours .places .tourcard img {
  width: 100%;
  height: 341px;
  border-radius: 20px;
}
@media screen and (max-width: 900px) {
  .popularTours .places {
    grid-template-columns: repeat(2, 1fr);
  }
}
.popularTours .carrouselButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.popularTours .carrouselButtons .leftBtn {
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .popularTours {
    padding: 60px 70px;
  }
}
body {
  margin: 0;
}

.blogSection {
  padding: 0 170px 60px 170px;
}
.blogSection h2 {
  font-size: 40px;
}
.blogSection .blogsDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.blogSection .blogsDiv .blogs {
  margin-right: 20px;
}
.blogSection .blogsDiv .blogs img {
  width: 100%;
  height: 341px;
  border-radius: 20px;
}
.blogSection .blogsDiv .blogs h3 {
  font-size: 32px;
}
@media screen and (max-width: 900px) {
  .blogSection .blogsDiv {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .blogSection {
    padding: 0 70px 60px;
  }
}
body {
  margin: 0;
}

.bookTrip {
  background-color: #E0E0E0;
  padding: 50px 170px;
}
.bookTrip h2 {
  font-size: 40px;
  font-weight: 500;
}
.bookTrip form {
  position: relative;
}
.bookTrip form .inps {
  display: flex;
  justify-content: space-between;
}
.bookTrip form .inps .input-wrapper {
  position: relative;
  width: 100%;
}
.bookTrip form .inps select,
.bookTrip form .inps .chooseNumber {
  font-size: 28px;
  font-weight: 400;
  color: rgba(66, 66, 68, 0.629);
  padding: 30px 50px;
  width: 100%;
  border: none;
  border-radius: 20px;
  margin-bottom: 40px;
}
.bookTrip form .inps select option,
.bookTrip form .inps .chooseNumber option {
  font-size: 28px;
  color: rgb(66, 66, 68);
  font-weight: 400;
}
.bookTrip form .inps .wrapper {
  margin-right: 80px;
}
.bookTrip form .inps .dates {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 28px;
  font-weight: 400;
  color: rgba(66, 66, 68, 0.629);
  border: none;
  border-radius: 20px;
  margin-bottom: 40px;
}
.bookTrip form .inps .dates .chooseDate {
  font-size: 28px;
  font-weight: 400;
  color: rgba(66, 66, 68, 0.629);
  padding: 30px 50px;
  border: none;
  border-radius: 20px;
  margin-bottom: 40px;
}
@media screen and (max-width: 900px) {
  .bookTrip form .inps {
    flex-wrap: wrap;
  }
}
.bookTrip form .bookNow {
  background-color: rgb(255, 103, 0);
  width: 100%;
  border-radius: 20px;
  font-size: 32px;
  font-weight: 600;
  line-height: 37.5px;
  color: #fff;
  border: none;
  padding: 30px 50px;
}

@media screen and (max-width: 900px) {
  .bookTrip {
    padding: 60px 70px;
  }
}
/*          
https://www.figma.com/file/NfmAiI3aeh05lJVMCbfIQF/%E1%83%9E%E1%83%A0%E1%83%90%E1%83%A5%E1%83%A2%E1%83%98%E1%83%99%E1%83%A3%E1%83%9A%E1%83%98-%E1%83%93%E1%83%90%E1%83%95%E1%83%90%E1%83%9A%E1%83%94%E1%83%91%E1%83%90-1?type=design&node-id=0-1&mode=design&t=pwifAjdxvcJeMDtS-0 */
body {
  margin: 0;
}

footer {
  background-color: #EAE9E9;
  width: 100%;
}
footer .footersection {
  display: flex;
  justify-content: space-between;
  padding: 40px 170px 0 170px;
}
footer .footersection .contactBar h2 {
  font-size: 48px;
  margin-bottom: 20px;
}
footer .footersection .contactBar p {
  font-size: 24px;
  margin-bottom: 20px;
}
footer .footersection .contactBar .followUs {
  font-size: 32px;
  margin-bottom: 20px;
}
footer .footersection .contactBar .mediaIcons {
  margin-bottom: 20px;
}
footer .footersection .contactBar .mediaIcons .fbicon {
  margin: 0 20px;
}
footer .footersection .links h3 {
  font-size: 32px;
  margin-bottom: 40px;
  font-weight: 500;
}
footer .footersection .links ul {
  height: 100%;
  padding: 0;
}
footer .footersection .links ul li {
  list-style-type: none;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 24px;
}
footer .footersection .contactUs {
  position: relative;
}
footer .footersection .contactUs h3 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 40px;
}
footer .footersection .contactUs .exploreMail {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}
footer .footersection .contactUs .callNumber {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}
footer .footersection .contactUs .subscribe {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
}
footer .footersection .contactUs #emailUs {
  border-radius: 10px;
  gap: 10;
  padding: 10px 13px;
  background-color: #EAE9E9;
  border: solid #424244 1px;
  position: relative;
}
footer .footersection .contactUs ::-moz-placeholder {
  font-size: 18px;
  font-weight: 400;
}
footer .footersection .contactUs ::placeholder {
  font-size: 18px;
  font-weight: 400;
}
footer .footersection .contactUs .sendArrow {
  position: absolute;
  /* top:5px */
  left: 147px;
  bottom: 62px;
}
@media screen and (max-width: 900px) {
  footer .footersection {
    padding: 60px 70px;
    flex-wrap: wrap;
  }
}
footer .copyright {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 400;
  padding: 10px 0 40px 0;
}

* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

body {
  margin: 0;
}

.header-scrolled {
  background-color: #EAE9E9;
  color: #424244;
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: #fff;
  z-index: 1;
  /* width: calc(100% - 340px); */
  width: 100%;
  padding: 20px 170px;
  position: fixed;
}
header .loginToggle {
  position: absolute;
  top: 133px;
  right: 176px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  display: none;
}
header .loginToggle.showLoginToggle {
  display: block;
}
header .loginToggle ul {
  padding: 0;
  width: 247px;
}
header .loginToggle ul li {
  padding: 10px 20px;
  list-style-type: none;
  border-bottom: solid #FF6700 1px;
}
header .loginToggle ul li a {
  font-size: 24px;
  text-decoration-line: none;
  color: #424244;
  cursor: pointer;
}
header .ham {
  display: none;
}
header h1 {
  font-size: 48px;
  font-weight: lighter;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /* display: none; */
}
header nav .loginLogo {
  position: relative;
  cursor: pointer;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /* display: none; */
}
header nav ul li {
  margin: 0 15px;
  list-style-type: none;
  gap: 40;
  font-weight: lighter;
}
header nav ul li a {
  color: #fff;
  font-size: 28px;
  letter-spacing: 5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration-line: none;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  header nav {
    display: none;
  }
}

.mainPage {
  /* background-image: url(https://i0.wp.com/andrevala.com/wp-content/uploads/2022/06/Lakehouse_01_728p.jpg?w=728&ssl=1); */
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.247) 9%, rgba(0, 0, 0, 0.151) 100%), url(https://images.unsplash.com/photo-1541420937988-702d78cb9fa1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  height: 885px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
.mainPage .offerdiv {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mainPage .offerdiv h3 {
  font-size: 40px;
  margin: 10px;
  color: #fff;
}
.mainPage .offerdiv h1 {
  letter-spacing: 0.1em;
  font-size: 64px;
  margin: 10px;
  font-weight: 500;
  /* height: 75px; */
  color: #fff;
}
.mainPage .offerdiv button {
  font-size: 24px;
  color: #fff;
  background-color: #FF6700;
  border-radius: 20px;
  gap: 10;
  border: none;
  padding: 20px 40px;
  margin: 10px;
}/*# sourceMappingURL=main.css.map */