@import 'mixins.scss';
body{
    margin: 0;
}



.blogSection{
   
    padding:0 170px 60px 170px;
    h2{
        font-size: 40px;
    }
    .blogsDiv{
        display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
        .blogs{
            margin-right: 20px;
            img{
                width: 100%;
                height: 341px;
                border-radius: 20px;
            }
            h3{
                font-size: 32px;
            }
    }
   
    }
    @media screen and (max-width: 900px) {
        .blogsDiv{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
}


@media screen and (max-width: 900px) {
    .blogSection{
        padding:0 70px 60px ;
    }
}