/* .bookTrip{
    background-color: #E0E0E0;
    padding: 170px;
    h2{
font-size: 40px;
font-weight: 500;
    }
    form{
        .inps{
            display: flex;
            justify-content: space-between;
            input{
                padding: 30px 50px;
                width: 100%;
                border: none;
                border-radius: 20px;
               
            }
            ::placeholder{
                font-size: 28px;
            }
     
           
            .locationDate{
                margin-right: 80px;
            }
        }
      
       
        input[type="submit"]{
            width: 100%;
            padding: 30px 50px;
            background-color: #FF6700;
            border: none;
            border-radius: 20px;
            color: white;
            font-size: 32px;
            font-weight: 500;

        } 
    }
    } */


    .bookTrip{
        background-color: #E0E0E0;
        padding: 170px;
  
        h2{
            font-size: 40px;
            font-weight: 500;
        }
        form{
            position: relative;
            .inps{
                display: flex;
                justify-content: space-between;
                .input-wrapper {
                    position: relative;
                    width: 100%;
                    
                
               img{
                position: absolute;
                top: -10px;
                width: 40px;
                height: 40px;
                /* right: 30px; */
                right: 30px;
                top: 20%;
                cursor: pointer;

               }
            
            .visually-hidden{
                position: absolute;
                width: 1px;
                height: 1px;
                margin: -1px;
                padding: 0;
                overflow: hidden;
                clip: rect(0, 0, 0, 0);
                border: 0;
            }
            input{
                padding: 30px 50px;
                width: 100%;
                border: none;
                border-radius: 20px;
                margin-bottom: 40px;
                position: relative;
            }

           

            input::placeholder{
                font-size: 28px;
            }
     
  
    }
            .wrapper{
                margin-right: 80px;
            }
        }

       
            .locationlist{
                display: none;
                position: absolute;
                padding: 30px 50px;
                width: calc((100% - 80px) / 2);
                border: none;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                margin-bottom: 40px;
                background-color: #fff;
                top:60px;
                height: 130%;
                overflow-y: scroll;
                z-index: 1;


                ul{
                    padding: 0;
                    li{
                        font-size: 28px;
                        color: #424244;
                        padding: 15px 0;
                        border-top: solid #424244 1px;
                        list-style-type: none;
                    }
                }

            }

            .locationListDesc{
                display: block;
            }
        
        input[type="submit"]{
            width: 100%;
            padding: 30px 50px;
            background-color: #FF6700;
            border: none;
            border-radius: 20px;
            color: white;
            font-size: 32px;
            font-weight: 500;
            

        } 
    }
    }