@import 'mixins.scss';

body{
    margin: 0;
}

footer {
    background-color: #EAE9E9;
    width: 100%;
    .footersection {
        display: flex;
        justify-content: space-between;
        padding:40px 170px 0 170px;
        

        .contactBar {
            h2{
                font-size: 48px;
                margin-bottom: 20px;
            }
            p{
                font-size: 24px;
                margin-bottom: 20px;

            }
            .followUs{
                font-size: 32px;
                margin-bottom: 20px;
            }
            .mediaIcons{
                margin-bottom: 20px;
                .fbicon{
                    margin: 0 20px;
                }
            } 
        }
        .links {
            
            h3{
                font-size: 32px;
                margin-bottom: 40px;
                font-weight: 500;
            }
            ul{
                height: 100%;
                padding:0;
              li{
                list-style-type: none;
                margin-bottom: 20px;
                font-weight: 400;
                font-size: 24px;
              }
            }
            
        }

        .contactUs {
            position: relative;
            h3{
               font-size: 32px;
               font-weight: 500;
               margin-bottom: 40px;
            }
            .exploreMail{
                font-size: 24px;
                font-weight: 400;
                margin-bottom: 20px;
            }
            .callNumber{
                font-size: 24px;
                font-weight: 400;
                margin-bottom: 20px;
            }
            .subscribe{
                font-size: 32px;
                font-weight: 500;
                margin-bottom: 20px;
            }
            #emailUs{
                border-radius: 10px;
                gap: 10;
                padding: 10px 13px;
                background-color: #EAE9E9;  
                border: solid #424244 1px;
                position: relative;
            }


            ::placeholder{
                font-size: 18px;
                font-weight: 400;
            }
            .sendArrow{
                position: absolute;
                /* top:5px */
                left: 147px;
               bottom: 62px;
            }
          
        }
    }

.copyright{
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 400;
    padding: 10px 0 40px 0;
}

}
