footer {
    .footersection {
        display: flex;
        justify-content: space-between;
        padding: 170px;
        background-color: #EAE9E9;

        /* .contactBar {
            
        }

        .links {
            
        }

        .contactUs {
          
        } */
    }
}
